<div id="main">
    <!-- Space to show player turn -->
    <p id="print">Player X Turn</p>

    <!-- 3*3 grid of Boxes -->
    <input type="text" id="b1" (click)="myfunc_3(); myfunc();" readonly>

    <input type="text" id="b2" (click)="myfunc_4(); myfunc();" readonly>

    <input type="text" id="b3" (click)="myfunc_5(); myfunc();" readonly>

    <br>

    <input type="text" id="b4" (click)="myfunc_6(); myfunc();" readonly>
           
    <input type="text" id="b5" (click)="myfunc_7(); myfunc();" readonly>

    <input type="text" id="b6" (click)="myfunc_8(); myfunc();" readonly>

    <br>
    
    <input type="text" id="b7" (click)="myfunc_9(); myfunc();" readonly>

    <input type="text" id="b8" (click)="myfunc_10();myfunc();" readonly>

    <input type="text" id="b9" (click)="myfunc_11();myfunc();" readonly>
    <!-- Grid end here  -->

    <br><br>

    <!-- Button to reset game -->
    <button id="but" (click)="myfunc_2()">RESET</button>

</div>